@model MagicVilla_Web.Models.Dtos.RegistrationRequestDTO

<form method="post" asp-action="Register">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Register</h1>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="UserName" class="form-control" type="text" placeholder="UserName..." />
            </div>

            <div class="col-6 offset-3 pb-2">
                <input asp-for="Name" class="form-control" type="text" placeholder="Name..."/>
            </div>

            <div class="col-6 offset-3 pb-2">
                <input asp-for="Password" class="form-control" type="text" placeholder="Password..."/>
            </div>
            <div class="col-6 offset-3 pb-2">
                <select asp-for="Role" asp-items="@ViewBag.RolesList" class="form-select">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>
            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="form-control btn-success" value="Submit">Register</button>
            </div>
            
        </div>
    </div>

</form>